body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd2a60+0,a80675+73 */
background: rgb(221,42,96); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(221,42,96,1) 0%, rgba(168,6,117,1) 73%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(221,42,96,1)), color-stop(73%,rgba(168,6,117,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(221,42,96,1) 0%,rgba(168,6,117,1) 73%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(221,42,96,1) 0%,rgba(168,6,117,1) 73%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(221,42,96,1) 0%,rgba(168,6,117,1) 73%); /* IE10+ */
background: linear-gradient(135deg,  rgba(221,42,96,1) 0%,rgba(168,6,117,1) 73%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2a60', endColorstr='#a80675',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}