<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NH2L9T"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NH2L9T');</script>
<!-- End Google Tag Manager -->

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="index.html">Daniel Kamerling</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class=""><a href="#/career">Career</a></li>
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">Projects</a>
                <ul class="dropdown">
                    <li><a href="#">Marvel API</a></li>
                    <li><a href="#">Active link in dropdown</a></li>
                </ul>
            </li>
        </ul>
        <ul class="social-icons">
            <li><a href="mailto:daniel.kamerling@gmail.com?Subject=Salutations!"><i class="fi-mail"></i></a></li>
            <li><a href="https://www.linkedin.com/in/danielkamerling"><i class="fi-social-linkedin"></i></a></li>
            <li><a href="https://twitter.com/DanKamerling"><i class="fi-social-twitter"></i></a></li>
            <li><a href="https://github.com/saberprivateer"><i class="fi-social-github"></i></a></li>
        </ul>
    </section>
</nav>