<div class="row">
    <br>

    <div class="large-6 columns">
        <!--Love his work-->
        <blockquote>"My work is a game, a very serious game."
            <cite>M.C. Escher</cite></blockquote>

        <p>My passion is the creation of <font color="#45687B">elegant products</font> that solve the needs of
            consumers, business, and the
            team.
            I believe data is critical to making informed decisions and that empathy is essential for <font
                    color="#45687B">true innovation</font>.
            On this site you will find my professional musings, software hobby projects, and other items of little
            consequence.
            <br><br>
            Thanks for visiting!
    </div>
    <div class="large-4 columns">
        <img src="img/landing/ramen.jpg">
    </div>
    <div class="large-2 columns">
        <a class="twitter-timeline" href="https://twitter.com/DanKamerling" data-widget-id="649146399670427648">Tweets
            by @DanKamerling</a>
        <!--Guess I have to be careful about what I retweet now...-->
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
</div>

<div class="row">
    <hr>
    <div class="large-12 columns ">
        <h4>Recent Work</h4>
        <!--Nothing wrong with a bit of humble brag, eh?-->
        <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li ng-repeat="recentwork in recentworks | orderBy:orderProp | filter:{display:'TRUE'}">
                <a class="th [radius] image-wrapper overlay-fade-in" href="{{recentwork.website}}" target="_blank">
                    <img data-caption="{{recentwork.caption}}" ng-src="{{recentwork.image}}">
                    <div class="image-overlay-content">
                        <h2>{{recentwork.type}}</h2>
                   </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<footer class="row">
    <!--Yeah, not a true footer but its not like I have much of a site map.-->
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns right">
                <p style="font-size: small">Daniel lives in Santa Monica, California with his beautiful wife
                    Kristin.</p>
            </div>
        </div>
    </div>

</footer>
