<!DOCTYPE html>
<html lang="en" ng-app="choiceApp">
<head>
    <!--http://www.realclearpolitics.com/epolls/json/5949_historical.js
    http://www.realclearpolitics.com/epolls/json/5949_historical.js?1453388629140&callback=return_json
    -->
    <meta charset="UTF-8">
    <title>Choice Polls</title>

    <!--ICONS-->
    <link rel="shortcut icon" type="image/png" href="/app/assets/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--CSS-->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="../app/src/styles.css"/>

    <!--COLOR THEME-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">

    <!--FONT-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <!--
        <script src="../node_modules/angular/angular.js" type="text/javascript"></script>-->
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--
        <script src="../node_modules/angular-animate/angular-animate.js" type="text/javascript"></script>
        <script src="../node_modules/angular-aria/angular-aria.js" type="text/javascript"></script>
        <script src="../node_modules/angular-material/angular-material.js" type="text/javascript"></script>-->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>


    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="../app/src/app.js"></script>

    <!--    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("7i7nktYihd4xfXCY7kiUqIrb7ARbTS6w");
      analytics.page()
      }}();
    </script>-->

</head>
<body ng-controller="ChoiceCtrl" ng-cloak layout="column" style="background:white">

<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1><span>Choice Polls</span></h1>

        <span flex></span>
        <!--Libertarian
        <md-switch style="padding-left: 8px">
            Green
        </md-switch>
        <span flex="5"></span>
        -->
        <md-button class="md-raised" aria-label="Learn More" ng-click="about=true" ng-hide="about">
            About
        </md-button>
        <md-button class="md-raised" aria-label="Learn More" ng-click="about=false" ng-show="about">
            Polls
        </md-button>
        <span flex="2"></span>
    </div>
</md-toolbar>
<div layout-padding ng-show="about">

    <h4>ABOUT</h4>
    <p>This is my about area</p>

</div>

<div layout="row" ng-hide="about">
    <div layout="column" layout-align="start center">
        <div style="padding-top:8px;text-align:center"><p><a href="http://www.realclearpolitics.com/epolls/2016/president/us/general_election_trump_vs_clinton_vs_johnson-5949.html">RealClearPolitics</a> Average <br> {{rcpaveragedate}}</p></div>
        <div>
            <pre style="overflow:hidden" id="donut_single"></pre>
        </div>
        <div><p style="text-align:center;padding:0 10px 0 10px">Polling at 15% is required for inclusion by the <br><a
                href="http://www.debates.org/index.php?mact=News,cntnt01,detail,0&cntnt01articleid=58&cntnt01origid=15&cntnt01detailtemplate=newspage&cntnt01returnid=80" target="_blank">Commission
            on Presidential Debates</a></p>
        </div>
    </div>

    <!--<md-content flex id="content" class="">-->
    <div flex layout="column">
        <div layout="row" flex="noshrink">
            <!--<md-whiteframe class="md-whiteframe-3dp">-->
            <md-button class="md-raised" ng-init="header('Mainstream')" ng-click="header('Mainstream');myFilter={'Mainstream':'TRUE'}">Mainstream</md-button>
            <md-button class="md-raised" ng-click="header('All');myFilter={'538 Grade':'A'}">538 - All</md-button>
            <md-button class="md-raised" ng-click="header('Inclusive');myFilter={Include_Johnson:true}">538 - Inclusive</md-button>
            <md-button class="md-raised" ng-click="header('Exclusive');myFilter={Include_Johnson:0}">538 - Exclusive</md-button>
            <!--</md-whiteframe>-->

        </div>
        <div>
            <md-subheader class="md-no-sticky" style="background: white"><p ng-bind-html="headerText"></p>
            </md-subheader>
        </div>
        <md-content>
            <div>
                <md-list ng-if="true">
                    <md-list-item ng-init="myFilter={'Mainstream':'TRUE'}"
                                  class="md-dense slide" ng-repeat-start="pollster in pollsters | filter: myFilter"
                                  ng-click="pollster.expanded=!pollster.expanded">
                        <i class="material-icons md-18"
                           style="color: {{pollIconColor(pollster.Include_Johnson)}};padding-right: 25px">
                            {{pollIcon(pollster.Include_Johnson)}}</i>
                        <p>{{pollster.Pollster}}</p>
                        <i class="material-icons md-18">email</i>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ng-show="pollster.expanded" ng-repeat-end>
                        <md-list-item-text>
                            <p>538 Grade: {{pollster['538 Grade']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{pollster.Website}} target="_blank">Website</a></p>
                        </md-list-item-text>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
        <!--        <md-button onclick="analytics.track('Button Pressed');" class="md-raised">Button</md-button>-->
        <!--  <md-content>
          <div flex>
              <table>
                  <tr>
                  <th>Poll</th>
                      <th>Date</th>
                      <th>Clinton</th>
                      <th>Trump</th>
                      <th>Johnson</th>
                  </tr>
                  <tr  ng-repeat="poll in rcpscrape | filter: {type: 'poll_rcp_avg'}" ng-click="null">
                      <td>{{poll.pollster}}</td>
                      <td>{{poll.date}}</td>
                      <td ng-repeat="candidate in poll.candidate">{{candidate.value}}</td>
                  </tr>
              </table>
          </div>
          </md-content>-->
    </div>
    <!--</md-content>-->


</div>

<!--<script>
analytics.identify('f4ca124298', {
name: 'Michael Bolton',
email: 'mbolton@initech.com'
});

analytics.page('homepage');


</script>-->

</body>
</html>